body{
    margin: 0;
    padding: 0;
}
.container{
    width: 306px;
    height: 306px;
    display: flex;
    flex-flow: row wrap;
}
div{
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-size: contain;
}